body {
	font-family: 'Courier Prime', monospace;
	background-color: #121212;
	color: white;
}

.wrap {
  width: 100%;
  margin: 0;
	overflow: hidden;
}

.me, .works {
	margin: auto;
	max-width: 600px;
	text-align: center;
}

.kuvaus {
	font-size: 0.9em;
}

h2 {
	margin-top: 50px;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	font-style: italic;
}

li {
	list-style-type: none;
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 50px;
}

footer {
	margin: 50px 10px 20px 10px;
}

.main-title, .subtitle {
  text-align: center;  
  transform: scale(.9) translateY(5px) skewY(2deg);
}

.main-title {
	animation-name: tulo;
	animation-duration: 6s;
	animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.subtitle {
	font-size: 1.25em;
	animation-name: tulo;
	animation-duration: 5s;
	animation-delay: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

@keyframes tulo {
  from {
    transform: scale(.9) translateY(5px) skewY(2deg); filter: BLUR(4px);
  } 
  to {transform: scale(1) translateY(0px); filter: BLUR(0px);
  }
}


/* img:hover {
	filter: grayscale(0%);
}