body {
	font-family: 'Courier Prime', monospace;
	background-color: #121212;
	color: white;
}

.wrap {
  width: 100%;
  margin: 0;
	overflow: hidden;
}

.me, .works {
	margin: auto;
	max-width: 600px;
	text-align: center;
}

.subtitle {
	font-size: 1.25em;
}

.kuvaus {
	font-size: 0.9em;
}

h2 {
	margin-top: 50px;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	font-style: italic;
}

li {
	list-style-type: none;
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 50px;
}

footer {
	margin: 50px 10px 20px 10px;
}